assets/ihl/config/adress.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="guidebook"> 
    <xs:complexType> 
      <xs:sequence> 
	  <xs:element name="section"> 
	    <xs:complexType> 
	      <xs:sequence> 
	        <xs:element name="title" type="xs:string" /> 
	        <xs:element name="itemstack" type="xs:string" /> 
	        <xs:element name="text" type="xs:string" /> 
	        <xs:element name="image" type="xs:string" /> 
	      </xs:sequence> 
	    </xs:complexType> 
	  </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema> 

